@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
    --mainWhite: #e5b6f3;
    --mainBlack: #222;
    --mainGrey: #272627;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    color: var(--mainWhite);
    background: var(--mainGrey);
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #7012c9, #911091, rgb(175, 73, 201), #ccc);
    z-index: 1;
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.5rem;
    color: #000;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--mainGrey);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

.hero {
    min-height: calc(100vh - 60px);
    background: url("../assets/images/fondo.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .hero {
        background: linear-gradient(to right, #222 30%, #141, #252, #ccc);
    }
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
    border-radius: 20px;
}

.banner-btn {
    padding: 0.3rem 3rem;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: linear-gradient(to right, rgb(18, 7, 170), #484, #ccc);
    color: var(--mainGray);
    border: 1px solid #0a0;
    border-radius: 30px;
    transition: var(--mainTransition);
    cursor: pointer;
    font-weight: 700;
    text-shadow: 2px 2px 2px #222;
}

.banner-btn:hover {
    background: linear-gradient(to left, #252, #484, #ccc);
}

a {
    padding: 0.7rem 3rem;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: linear-gradient(to right, #252, #484, #ccc);
    color: var(--mainGray);
    border: 1px solid #0a0;
    border-radius: 30px;
    transition: var(--mainTransition);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-family: "Stylish", sans-serif;
    text-shadow: 2px 2px 2px #222;
}

a:hover {
    background: linear-gradient(to left, #252, #484, #ccc);
}

.products {
    padding: 2rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 8px #252;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: linear-gradient(#ccc, #2d2);
    border: none;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
    font-weight: 900;
}

.bag-btn:hover {
    background: linear-gradient(rgb(193, 17, 228), #ccc);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: rgb(241, 240, 248);
    text-shadow: 0px 1px rgb(13, 14, 13);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Space Mono", monospace;
}

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: linear-gradient(70deg, #47057c, #920880, #e6e1e1);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    border-radius: 10px;
    width: 100px;
    height: 55px;
    box-shadow: 2px 2px 8px rgb(15, 15, 15);
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
    color: rgb(105, 9, 2);
    font-weight: 900;
}

.remove-item {
    color: rgb(243, 237, 237);
    font-weight: 900;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: #000;
    cursor: pointer;
}

.cart-total {
    color: rgb(231, 235, 231);
    text-shadow: 0px 1px 1px #3a0;
    font-weight: 900;
    font-size: 2.3rem;
    font-family: "Space Mono", monospace;
}

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.footer {
    text-shadow: 1px 1px 10px #9f2;
    margin-left: 5px;
    margin-top: auto;
    font-size: 1rem;
}
